* {
  margin: 0;
  padding: 0;
  line-height: 2;
}
body {
  background-color: #212529;
  color: white;
  padding: 10%;
}

#intro {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#button-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-around;
}

a {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}
  
#icon-container {
    display: flex;
    width: fit-content;
    margin-bottom: 100px;
}

i {
    margin-left: 15px;
}
