/* Universal Selector to reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
  }
  
  /* Element Selector to set background color, text color, and padding for the body */
  body {
    background-color: #212529;
    color: white;
    padding: 10%;
  }
  
  /* Element Selector to center the heading */
  h1 {
    display: flex;
    justify-content: center;
  }
  
  /* ID Selector to style the name input container */
  #name-input {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #212529;
    padding: 1rem;
  }
  
  /* ID Selector to style the location input container */
  #location-input {
    background-color: #212529;
    padding: 1rem 1.2rem 1rem 1rem;
    width: calc(100% + 8px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Class Selector to style the button container */
  .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }
  
  /* ID Selector to style the map container */
  #map-container {
    display: flex;
    flex-direction: row;
  }
  
  /* ID Selector to style the weather container */
  #weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    margin-left: 10px;
    border-radius: 20px;
    text-shadow: 2px 2px 2px black;
  }
  
  /* Nested ID and Element Selectors to style list items within the weather container */
  #weather li {
    margin: 15px;
  }
  
  /* ID Selector to style the temperature */
  #temperature {
    font-size: 25px;
  }
  
  /* ID Selector to style the map image */
  #map {
    border-radius: 20px;
  }
  
  /* Element Selector to remove list styling */
  li {
    list-style: none;
  }
  
  /* Element Selector to style the table */
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  /* Element Selectors to style table header and cells */
  th, td {
    border: 5px solid #212529;
    text-align: center;
    padding: 8px;
    background-color: #f2f2f2;
    color: black;
  }
  
  /* Element Selector to style table header */
  th {
    background-color: #f2f2f2;
    color: black;
  }
  
  /* Element Selector to style generic buttons */
  button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* ID Selector to style the game result container */
  #game-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  